<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Posts')">
    <meta charset="UTF-8">
    <title>Create Post</title>
</head>
<body>
    <nav th:replace="partials/section :: navbar('Blog Posts')"></nav>
        <header th:replace="partials/section :: header('Welcome to the Blog Post!')"></header>
    <main class="container">
    <form th:action="@{'/posts/' + ${postToEdit.id} + '/edit'}" method="post" th:object="${postToEdit}">
    <label for="title">Title:</label>
    <input th:field="*{title}" id="title">
    <br>
    <label for="body">Body:</label>
    <br>
        <textarea rows="10" cols="60" th:field="*{body}" id="body"></textarea>
    <br>
    <button>Update Post</button>
    </form>
    <form th:action="@{'/posts/' + ${postToEdit.id} + '/delete'}" th:method="post">
        <button>Delete</button>
    </form>
    </main>
</body>
</html>