<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Posts')">
    <meta charset="UTF-8">
    <title>Create Post</title>
</head>
<body>
<nav th:replace="partials/section :: navbar('Blog Posts')"></nav>
<header th:replace="partials/section :: header('Welcome to the Blog Post!')"></header>
<main class="container">
<form th:action="@{/posts/create}" th:method="post">
    Title:
    <input name="title">
    <br>
    Body:
    <input name="body">
    <br>
    <input type="submit">
</form>
</main>
</body>
</html>