<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Posts')">
    <meta charset="UTF-8">
    <title>Create Post</title>
</head>
<body>
<nav th:replace="partials/section :: navbar('Blog Posts')"></nav>
<header th:replace="partials/section :: header('Welcome to the Blog Post!')"></header>
<main class="container">
<form th:action="@{/posts/create}" th:method="post" th:object="${post}">
    Title:
    <input th:field="*{title}">
    <br>
    Body:
    <br>
    <textarea rows="10" cols="60" th:field="*{body}"></textarea>
    <br>
    <button>Create Post</button>
</form>
</main>
</body>
</html>