<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head('Posts')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="partials/section :: navbar('Blog Posts')"></nav>
<header th:replace="partials/section:: header('Welcome to the Blog Post!')"></header>
    <main class="container text-center">
        <div class="card" >
            <h1 th:text="${post.title}"></h1>
                <p th:text="${post.body}"></p>
            <p> Created by User: <span th:text="${post.owner.username}"></span> </p>
            <p>email: <span th:text="${post.owner.email}"></span></p>
        </div>
        <div sec:authorize="isAuthenticated()">
        <form th:action="@{'posts/' + ${post.id} + '/edit'}" th:method="get">
            <button>Edit</button>
        </form>
        <form th:action="@{'posts/' + ${post.id} + '/delete'}" th:method="post">
            <button>Delete</button>
        </form>
        </div>
    </main>
</body>
</html>