<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Posts')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="partials/section :: navbar('Blog Posts')"></nav>
<header th:replace="partials/section:: header('Welcome to the Blog Post!')"></header>
    <main class="container text-center">
        <div class="card">

            <h1 th:text="${post.title}"></h1>
                <p th:text="${post.body}"></p>
                <p th:text="${post.id}"></p>
            <p> Created by User: <span th:text="${post.owner.username}"></span> </p>
            <p>email: <span th:text="${post.owner.email}"></span></p>
        </div>
    </main>
</body>
</html>