<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head('Posts')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navbar(title)">
    <span class="navbar-brand mb-0 h1">
        <th:block th:text="${title}"></th:block>
    </span>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/posts}">Posts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/posts/create}">Create a Post</a>
        </li>
        <li sec:authorize="!isAuthenticated()" class="nav-item">
            <a class="nav-link" th:href="@{/sign-up}">Register</a>
        </li>
    </ul>
<!--        <form class="form-inline my-2 my-lg-0" >-->
<!--            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
<!--            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>-->
<!--        </form>-->
        <ul class="navbar-nav my-2 my-lg-0">
            <li sec:authorize="!isAuthenticated()" class="nav-item">
                <a class="nav-link" th:href="@{/login}">Login</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" th:method="post">
                    <button class="btn-dark btn" style="margin-top: 8px">Logout</button>
                </form>
            </li>
        </ul>
    </div>
</nav>
<header th:fragment="header(header)">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 text-center"><span><th:block th:text="${header}"></th:block></span></h1>
            <p class="lead text-center">Make a post then adios!</p>
        </div>
    </div>

</header>
<footer th:fragment="footer">
    &copy; 2020
</footer>
</body>
</html>