<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="partials/head :: head('Posts')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-light bg-light" th:fragment="navbar(title)"><span class="navbar-brand mb-0 h1"><th:block th:text="${title}"></th:block></span>
    <ul>
        <li>
            <a th:href="@{posts/create}">Create</a>
        </li>
        <li>
            <a th:href="@{/posts}">Posts</a>
        </li>
        <li>Search</li>
    </ul>
</nav>
<header th:fragment="header(header)"><span><th:block th:text="${header}"></th:block></span></header>
<footer th:fragment="footer">
    &copy; 2020
</footer>
</body>
</html>