<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="partials/head :: head('Posts')">
    <meta charset="UTF-8" />
    <title>Log In</title>
</head>
<body>
<nav th:replace="partials/section :: navbar('Blog Posts')"></nav>
<h1>Log In</h1>
<main class="container">
    <div th:if="${param.error}">
        Invalid Username and Password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <form th:action="@{/login}" method="post">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text"  class="form-control" name="username" id="username" >
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input id="password" class="form-control" name="password" type="password" />
        </div>
        <input type="submit" value="Log In" />
    </form>
</main>
</body>
</html>